sudo: false
language: python
python:
  - "2.7"
install:
  - pip install tox-travis
  - pip install -r requirements.txt
script:
  - tox
  - make -C docs clean html
notifications:
  email:
    on_success: change
    on_failure: always
